body{
    min-height: 100vh;
    background-color: navy;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    font-size: 36px;
}

header nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

header{
    padding: 2rem;
}

header nav button{
    padding: 0.5rem 1rem;
    font-size: 24px;
    border: none;
    background-color: rebeccapurple;
    cursor: pointer;
    color: thistle;
}

header nav button:hover{
    background-color: indigo;
}